<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="main.css">
  </head>
  <body>
    <% @pages.each do |page| %>

      <div class='book-result'>
        <h3><%= page.page_count %></h3>
      </div>

    <% end %>
  </body>
</html>
